# Create an OSEv3 group that contains the master, nodes, etcd, and lb groups.
# The lb group lets Ansible configure HAProxy as the load balancing solution.
# Comment lb out if your load balancer is pre-configured.
[OSEv3:children]
masters
nodes
# etcd
# lb

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
ansible_ssh_user=root
openshift_deployment_type=origin

# Uncomment the following to enable htpasswd authentication; defaults to
# DenyAllPasswordIdentityProvider.
#openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]

# Native high availability cluster method with optional load balancer.
# If no lb group is defined installer assumes that a load balancer has
# been preconfigured. For installation the value of
# openshift_master_cluster_hostname must resolve to the load balancer
# or to one or all of the masters defined in the inventory if no load
# balancer is present.
openshift_master_cluster_method=native
openshift_master_cluster_hostname=openshift-cluster.vialis.local
openshift_master_cluster_public_hostname=openshift-cluster.vialis.local

# override the default controller lease ttl
#osm_controller_lease_ttl=30

# host group for masters
[masters]
master1.vialis.local
#master2.vialis.local
#master3.vialis.local

# host group for etcd
[etcd]
master1.vialis.local
#master2.vialis.local
#master3.vialis.local

# Specify load balancer host
# [lb]
# lb.vialis.local

# host group for nodes, includes region info
[nodes]
# master[1:3].vialis.local
master1.vialis.local
node1.vialis.local openshift_node_labels="{'region': 'primary', 'zone': 'east'}"
# infra-node1.vialis.local openshift_node_labels="{'region': 'infra', 'zone': 'default'}"
# infra-node2.vialis.local openshift_node_labels="{'region': 'infra', 'zone': 'default'}"